**Notes**
- Same patent can be classified under different CPC classes
- Same patent can be filed under multiple company names

In [2]:
import pandas as pd

In [16]:
"""
Patents: 2,437,850 entries
wku = patent number
permco = company identifier
permno = stock (share class) identifier
"""

df_kpss = pd.read_stata("KPSS.dta")

df_kpss.rename(columns={'wku': 'patnum'}, inplace=True)
df_kpss['permco'] = pd.to_numeric(df_kpss['permco'], errors='coerce').astype('Int64')
df_kpss['permno'] = pd.to_numeric(df_kpss['permno'], errors='coerce').astype('Int64')
#df_kpss = df_kpss.drop(['year', 'lmkcap', '_1982adjval', 'firmvol', 'Lfirmvol', 'firmvol15'], axis=1)

df_kpss.head(3)

SyntaxError: invalid syntax (2135069998.py, line 2)

In [6]:
#Patent-Company match: 7,312,497 entries
df_assignees = pd.read_stata("Assignees.dta")
df_assignees.head(3)

   patnum  FIRMID  assignee_ocr
0     263  299069     a. b. ely
1     263  343694   burglar pro
2     285  467484  john b. gray

In [26]:
#Patent classification
df_cpc = pd.read_stata("full_CPC_class.dta")

#Multiple CPCs exist for the same patent
df_cpc = df_cpc.drop_duplicates(subset='wku', keep='first')
df_cpc['wku'] = pd.to_numeric(df_cpc['wku'], errors='coerce').astype('Int64')
df_cpc.rename(columns={'wku': 'patnum'}, inplace=True)
df_cpc.head(3)

   patnum          CPC
0       1  Y10T16/3819
1       1    B61C11/04
2       2     C02F1/00

In [39]:
merged_df = df_kpss.merge(df_assignees, on='patnum', how='inner').merge(df_cpc, on='patnum', how='inner')
merged_df.tail(5)

,patnum,permco,date,permno,FIRMID,assignee_ocr,CPC
2437090,8952169,55126,2015-02-10,<NA>,2c95750465f910baa113df02a0ae1166,Xenon Pharmaceuticals Inc.,C07D413/12
2437091,8943608,55141,2015-01-27,<NA>,661042,workiva llc,G06F21/6227
2437092,9075780,55141,2015-07-07,<NA>,ce9167332926bcd0758e0f386b2ba1d0,Workiva Inc.,G06F17/2288
2437093,8906686,55148,2014-12-09,<NA>,441160,histogenics,A61L27/38
2437094,8921109,55148,2014-12-30,<NA>,441160,histogenics,A61F2/08